<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Xray example tests">
	<listeners>
		<listener class-name="com.calc.test.XrayListener" />
		<listener class-name="com.example.xray.reporter.XrayReporter" />
	</listeners>
	<test name="Xray tests">
		<classes>
			<class name="com.calc.test.CalcTest">				
			</class>
		</classes>
	</test>
</suite>
